$black-100: hsl(216, 18, 8);
$black-400: hsl(216, 18, 16);
$grey-400: hsl(217, 10, 25);
$yellow-200: hsl(42, 100, 60);
$yellow-500: hsl(42, 100, 71);
$yellow-800: hsl(42, 100, 86);
$white-50: hsl(0, 0, 100);
$white-150: hsl(0, 0, 93);
