#root {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  border: var(--border-primary);
  border-radius: 8px;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
}

.game-box {
  width: 58rem;
  height: 33rem;
}

@media (max-width: 1200px) {
  .game-box {
    width: 48rem;
    height: 28rem;
  }
}

@media (max-width: 992px) {
  .game-box {
    width: 43rem;
    height: 28rem;
  }
}

@media (max-width: 768px) {
  .game-box {
    width: 32rem;
    height: 28rem;
  }
}

@media (max-width: 576px) {
  .game-box {
    width: 22rem;
    height: 28rem;
  }
}

@media (max-width: 400px) {
  .game-box {
    width: 13rem;
    height: 28rem;
  }
}

span {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  text-shadow: 0 0 1px #fff;
}

